@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>Welcome.</h1>
</div>

<p>Thanks for looking at my puzzles page. Use the links on the top to view the different applications</p>
