@using Puzzles.Bl.NumberToString.Models
@using Puzzles.Bl.PalindromeChecker.Models
@using Puzzles.Bl.PokerHandEvaluator.Models
@model PokerHandEvaluatorHomeModel

@{
    var guid = Guid.NewGuid();
    var containerid = $"divcontainer-{guid}";

}


<div id="@containerid">
    <div class=" ">
        <div class="" id="pokertable">
            <div class="card-body" style="border: 1px black solid!important">
                <h5 class="card-title">&nbsp;</h5>
                <p class="card-text">&nbsp;</p>
                          


            </div>
        </div>
    </div>


</div>

