@using Puzzles.Bl.NumberToString.Models
@using Puzzles.Bl.PalindromeChecker.Models
@using Puzzles.Bl.PokerHandEvaluator.Models
@using Puzzles.Bl.Extensions
@model PokerPlayerModel

@{
    var guid = Guid.NewGuid();
    var containerid = $"divcontainer-{guid}";

}


<div id="@containerid">
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">@Model.PlayerName</h5>
            @foreach (var c in Model.PokerHand.Cards)
            {
                var label = $"{c.CardValue} {c.CardSuit}";

                <p class="card-text">@label</p>
            }


        </div>
    </div>

</div>

