@using Puzzles.Bl.NumberToString.Models
@using Puzzles.Bl.PalindromeChecker.Models
@using Puzzles.Bl.PokerHandEvaluator.Models
@model PokerHandEvaluatorHomeModel

@{
    var guid = Guid.NewGuid();
    var heading = $"Poker Hand Evaluator";
    var containerid = $"divcontainer-{guid}";
    var objectivetext = $"Write some code that will evaluate a poker hand and determine its rank.";

    var pokertabledivid = $"divpokertable-{guid}";
    var dealcardsurl = Url.Action("DealPokerHands", "PokerHandEvaluator", new { });
}


<div id="@containerid">

    <div class="">
        <div class=" text-center">
            <h1>@heading</h1>
            <hr />
        </div>
    </div>



    <button type="button"
            class="btn btn-danger"
            onclick="window.LayoutLoadPartial('@pokertabledivid', '@dealcardsurl')">
        Deal Some Cards!
    </button>

    <br />
    <br />


    <div id="@pokertabledivid"></div>



</div>

