@using Puzzles.Bl.NumberToString.Models
@using Puzzles.Bl.PalindromeChecker.Models
@using Puzzles.Bl.PokerHandEvaluator.Models
@model PokerHandEvaluatorHomeModel

@{
    var guid = Guid.NewGuid();
    var heading = $"Poker Hand Evaluator";
    var containerid = $"divcontainer-{guid}";

    var objectivetext = $"Write some code that will evaluate a poker hand and determine its rank.";
}


<div id="@containerid">

    <div class="">
        <div class=" text-center">
            <h1>@heading</h1>
     
            <hr />
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h2>Objective</h2>
                <p class="small">@objectivetext</p>
            </div>


  


        </div>






    </div>


</div>

