@using Puzzles.Bl.NumberToString.Models
@model NumberToStringConvertModel

@{
    var guid = Guid.NewGuid();
    var containerid = $"divcontainer";
    var resultdivid = $"divresults-{guid}";
}

<div id="@containerid">

    <div class="row">
        <div class="col-md-4">

            <i class="small bluetext">
                I was conflicted if i should send a string so the user could
                send formatted numbers. I was torn and decided to go with a decimal. I can see the argument either way.
                The string would need more cleansing, but rounding decimal issues wouldn't exist.
            </i>

            <br />
            <br />


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <form asp-controller="NumberToString"
                  asp-action="SubmitNumberToString"
                  method="POST"
                  class="form-horizontal"
                  role="form"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#@containerid">




                <div class="form-group">


                    <label for="exampleInputEmail1">Enter A Number</label>




                    <input type="number"
                           asp-for="Input"
                           step=".01"
                           min="0"
                           class="form-control"
                           id="inputNumberInput"
                           placeholder="Enter Any Number...">
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>



            </form>
        </div>
    </div>



</div>

@if (Model.Saved)
{
    <br />
    <div id="@resultdivid">
        <p>You submitted: @Model.Input</p>
        <p>Your Result: @Model.Result</p>
    </div>
}
